<!DOCTYPE html>
<html lang="en">
      <head>
          <link rel="stylesheet" type="text/css" href="./css/style.css">
          <script src="/socket.io/socket.io.js"></script>

          <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js">
          </script>


          <meta name="roomName" content="{{roomName}}">
          <meta charset="utf-8" />
          <title>{{roomName}}</title>
      </head>
      <body>


      <div class="wrapper">

              <button class="back" onclick='window.location.href="http://localhost:8080"'>Back to chatrooms!</button>
              <button class="back" onclick="changeName()"> Change your nickname</button>

          <h1>Chatroom: {{roomName}}</h1>

          <p id="listofusers">
          </p>

          <p id="update">
          </p>

          <p id="feedback">
          </p>

          <div class="userinput">
          <p id='output'></p>


          <form id="messageForm">
      <input type="text" name="message"   id="messageField">
      <input type="hidden" name="nickname" id="nicknameField">
      <input type="submit" value="Send" id="submit">
  </form>
  </div>


          <div id="what"></div>
  </div>

      <script src="./js/roomid.js" type="text/javascript"></script>

      </body>
  </html>
